<div ng-controller="ViewTaskCtrl">
  <div class="panel-heading">
           <div class="panel-title text-center">
              <h1 class="title">Track Your Tasks Here</h1>
            </div>
  </div>
  <div class="panel-heading AppMessages" ng-show="View_Task_Messages">
          <input type="text" ng-model="ViewTaskMessages">
  </div>
  <div>
    <table>
      <tr>
        <th>Task Id</th>
        <th>Task Name</th>
        <th>Task Date</th>
        <th>Mark Task As Complete</th>
        <th>Edit Task</th>
        <th>Delete Task</th>
      </tr>
      <tr ng-repeat="task in alltasks" class="{{GetClassOnTaskStatus(task.date,task.status)}}">
        <td>{{task._id}}</td>
        <td>{{task.task}}</td>
        <td>{{task.date|date}}</td>
        <td><img src="{{GetTaskStatus(task.status)}}" ng-disabled="{{task.status}}" ng-click="ChangeTaskStatus(task._id)"></td>
        <td><img src="images/edit.png" ng-click="EditTask(task._id,task.task)"></td>
        <td><img src="images/delete.png" ng-click="DeleteTask(task._id)" ng-show="taskDeleted!=task._id"></td>
        <td><w3-test-directive ng-show="taskDeleted==task._id"></w3-test-directive></td>
      </tr>
    </table>
  </div>
</div>
